@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* ----font---- */
  --font-inter: "Inter", sans-serif;

  /* ----color----- */

  --color-secText: #989898;
}

/* ---------Res show prosucts css */

.resshow {
  position: relative;
}

.resshow .slick-dots {
  display: flex !important;
  gap: 12px;
  position: absolute;
}

.resshow .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border: 1px solid #111827;
  border-radius: 50%;
}

.resshow .slick-dots .slick-active button {
  background: #111827;
}

@media (max-width: 639.98px) {
  .resshow .slick-dots {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
